:root {
    --card-dark-dark-color: #3b2019; 
	--card-dark-light-color: #351f17;
	--card-light-light-color: #fbc382;
	--card-light-dark-color: #f8a67a;
    --second-color: #fac27f; 
	--third-color: #f68271; 
    --fourth-color: #61412e;
    font-family: 'Verdana', 'Sans-serif';  
}
*, *:before, *:after {
    box-sizing: border-box;
}
body,html{
	margin:0;
    padding:0; 
    position: relative;
}
a{
    text-decoration: none;
    cursor: pointer;
}
label{
    font-weight: bold;
}
#settings-overlay{
    display: none; /*change to debugg*/
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 250%;
    width: 100%;
    z-index: 1;
}
.admin-settings{
    max-width: 600px;
    background-color: white;
    width: 80%;
    height: fit-content;
    margin: 10vh auto 0 auto;
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: min-content;
    grid-gap: 0.5rem;
    border-radius: 5px;
    justify-items: center;
}
.admin-settings > button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: fit-content;
}
.admin-settings > div, .admin-settings > form {
    margin: 0 1rem;
    grid-gap: 1rem;
}
.admin-settings > :last-child{
    margin-bottom: 1.5rem !important;
}
.admin-add-new{
    display: none;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.ig-access-form .generate-token{
    display: grid;
    grid-template-columns: 1fr;
}
content{
    display: none; /*change to debugg*/
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 200%;
    width: 100%;
    z-index: 5;
}
#edit-content{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    height: 200%;
    width: 100%;
    z-index: 2;
}
.edit-form-layout{
    position: relative;
    top: 15%;
    background-color: white;
    width: 80%;
    margin: auto auto;
    height: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    padding: 1rem;
}
.edit-form-layout form{
    display: grid;    
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
}
.status-message{
    margin: .5rem 0;
    text-align: center;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
}
.status-message-two-column{
    margin: .5rem 0;
    text-align: center;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
}
.edit-btns{
    display: grid; 
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;
}
.insert-btns{
    display: grid; 
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
}
.insert-btns_non-admin{
    display: grid; 
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
}

.hide{
    display: none !important;
}
.show{
    display: inline-block !important;
}
.display-grid{
    display: grid !important;
}
.columns-2-of-4{
    grid-column-start: 2;
    grid-column-end: 4;
}
.columns-4-of-4{
    grid-column-start: 1;
    grid-column-end: 5;
}
.self-center{
    justify-self: center !important;
}
.self-left{
    justify-self: start !important;
}
.self-right{
    justify-self: end !important;
}
.btn, .btn-auto{
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.btn-auto{
    padding: 0.4em;
}
.btn{
    width: 7em;
    padding: .8rem;
}
.btn-primary{
    background-color: cornflowerblue;
    color: white;
    transition: all 0.2s ease-in-out;
}
.btn-primary:hover{
    opacity: 0.7;
}
.btn-secondary{
    background-color: coral;
    color: white;
    margin: 1rem 0;
    transition: all 0.1s ease-in-out;
}
.btn-secondary:hover{
    opacity: 0.7;
}
.btn-col-right{
    grid-column-start: 2;
}
.btn-form-insert{
    width: fit-content;
    justify-self: right;
    background-color: darkseagreen;
    color: white;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.1s ease-in-out
}
.btn-form-insert:hover{
    opacity: 0.7;
}
.table-col-5 {
    /* display: grid; */
    display: none;
    margin: 1rem 0;
    font-size: .85em;
    /* grid-template-columns: 1fr 4fr 3fr 3fr 4fr; */
    grid-template-columns: 4fr 4fr 4fr 2fr 4fr;
}
.table-col-3 {
    /* display: grid; */
    font-size: .85em;
    display: none;
    margin: 1rem 0;
    grid-template-columns: 1fr 1fr 1fr;
}
.table-col-2 {
    /* display: grid; */
    display: none;
    margin: 1rem 0;
    grid-template-columns: 1fr 1fr;
}

.table-col-4 > span, .table-col-2 > span {
    border-bottom: 1px solid silver;
    padding: 1rem 0;
}
.table-header {
    font-weight: bold;
}
button.add-col-2{
    grid-column-start: 2;
    width: fit-content;
    justify-self: end;
}
.action-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.action-icons img{
    width: 20px;
}
.dashboard{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    margin: 0rem 0rem 2rem 0rem
}
.user-info{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1rem;
}
.user-info > img{
    justify-self: center;
    border-radius: 50px;
    width: 200px;
}
.user-info .user-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.user-options img{
    width: 35px;
}
.user-name{
    display: grid;
    justify-items: center;
}
.places, .flavours, .products{
    display: grid;
    justify-items: center;
}
.sub-choice{
    display: none;
    grid-auto-rows: min-content;
    margin: 1.5rem 0rem;
    /* margin: auto; */
    width: 300px;
}
.sub-choice form{
    /* display: grid; */
    display: none;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem 0rem;
    margin: 1.5rem 0 0;
}
.sub-choice form input{
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
.edit-product, .edit-place, .edit-flavour, .edit-admin, .delete-data{
    margin-left: auto;
    margin-right: auto;
    padding: 2px 5px;
}
.darken-table-row{
    background-color: rgba(112, 128, 144, 0.2);
}


/* SPINNER START*/

.sk-folding-cube {
/*     margin: 20px auto;
    width: 40px;
    height: 40px; */
    margin: 8px auto;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

/* SPINNER END*/

/* MEDIA QUERIES START*/
@media (min-width: 720px) {
    .sub-choice{
        width: 450px;
    }
    .edit-form-layout{
        max-width: 300px;
    }
    .admin-settings > div, .admin-settings > form {
        width: 50%
    }
}
@media (min-width: 992px) {
    .sub-choice{
        width: 600px;
    }
    .edit-form-layout{
        max-width: 550px;
    }
    .admin-settings > div, .admin-settings > form {
        width: 65%
    }
}
/* MEDIA QUERIES END*/

