:root {
    --card-dark-dark-color: #3b2019; 
	--card-dark-light-color: #351f17;
	--card-light-light-color: #fbc382;
	--card-light-dark-color: #f8a67a;
    --second-color: #fac27f; 
	--third-color: #f68271; 
	--fourth-color: #61412e;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body,html{
	margin:0;
	padding:0; 
}
a{
	text-decoration: none;
}
.hide{
    display: none !important;
}
.show{
    display: inline-block !important;
}
.display-grid{
    display: grid !important;
}
.columns-2-of-4{
    grid-column-start: 2;
    grid-column-end: 4;
}
.columns-4-of-4{
    grid-column-start: 1;
    grid-column-end: 5;
}
.self-center{
    justify-self: center;
}
.btn, .btn-auto{
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.btn-auto{
    padding: 0.4em;
}
.btn{
    width: 7em;
    padding: .8rem;
}
.btn-primary{
    background-color: cornflowerblue;
    color: white;
    transition: all 0.2s ease-in-out;
}
.btn-primary:hover{
    opacity: 0.7;
}
.btn-secondary{
    background-color: coral;
    color: white;
    margin: 1rem 0;
    transition: all 0.1s ease-in-out;
}
.btn-secondary:hover{
    opacity: 0.7;
}
.btn-form-insert{
    grid-column-start: 2;
    width: fit-content;
    justify-self: right;
}
.table {
    /* display: grid; */
    display: none;
    margin: 1rem 0;
    grid-template-columns: 1fr 4fr 3fr 3fr 4fr;
}

.table > span {
    /* padding: 8px 4px; */
    border-bottom: 1px solid silver;
}
.table > .table-header {
    font-weight: bold;
}
.dashboard{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    margin: 2rem 0;
}
.user-info{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1rem;
}
.user-info > img{
    justify-self: center;
    border-radius: 50px;
}
.user-info .user-settings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.user-name{
    display: grid;
    justify-items: center;
}
.places, .flavours, .products{
    display: grid;
}
.sub-choice{
    display: none;
    grid-auto-rows: min-content;
    margin: 1.5rem 1rem;
}
.sub-choice form{
    /* display: grid; */
    display: none;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem 1rem;
    margin: 1.5rem 0 0;
}
